
<div class="txt "   >
    <div class="container txtfield ">
    <div>
      <h1 class="text-center heading">PREMIUM<br> MEMBERSHIP</h1>
    </div>
    <div  class="d-flex justify-content-center">
      <p class="col-md-10 text-center text-justify txtpara display-5">
        ICT Academy of Kerala(ICTAK)is pleades to offer its Premium
        Membership to selected Engineering,Science & Management Instirution
        and programme,ICTAK will support its members institution's faculty
        members,Students and staf with quality training resources,certifications
        and Industry immersion on IR4.0 Technologies, and thereby enabling them to reach 
        their Academic and Career potential
      </p>
    </div>
    <div class="d-flex justify-content-center ">
      <button class=" btn-apply">APPLY NOW</button>
    </div> <br>
  </div>
  </div>

  <hr>
  
  <!-- //benifits section -->
    <div class=" benefits mt-4 bg-warning " >
      <div class="row">
    <div class=" d-flex justify-content-center benifits-head" >
      <h1 class="benifit-heading">BENEFITS</h1>
    </div>
    <!-- //cards -->
    <div class="cards">
      <div class="card d-flex justify-content-center " style="width: 18rem;">
        <h1 class="text-center card-heading">FOR STUDENTS</h1>
        <div class="card-body">
            <ul class="card-text">
              <li>Free training on industrial skills with global leaders like Microsoft, Oracle Academy, Google, Salesforce, AWS, and AAU in IR 4.0 technology domain.</li>
              <li>Students from partner institutions benefit from the learning enrichment programs like ICSET, Techathlon, and Student Top 10.</li>
            </ul>
        </div>
      </div>
      <!-- //card2 -->
      <div class="card d-flex justify-content-center" style="width: 25rem;">
        <h1 class="text-center card-heading">FOR INSTITUTION</h1>
        <div class="card-body">
          <ul class="card-text ">
            <li>Access to ICTAK corporate partner pre-programs and events.</li>
            <li>Employability Quotient Test (EQT) to all the students to know their industrial skills.</li>
            <li>Support for educators on partner program curriculum delivery and integration</li>
            <li>Connection and support to virtual and on-campus events.</li>
            <li>Joint PR opportunities with ICT Academy of Kerala.</li>
          </ul>
        </div>
      </div>
      <!-- //card3 -->
      <div class="card d-flex justify-content-center " style="width: 18rem;">
        <h1 class="text-center card-heading">FOR FACULTY</h1>
        <div class="card-body">
          <ul class="card-text">
            <li>Faculty Benefits Access to Partner Curriculum.</li>
            <li>Faculty development program from Salesforce, Oracle Academy, Google, and Microsoft.</li>
            <li>Industrial visit. Opportunity to see, interact, and experience the industry innovations.</li>
            <li>Opportunity to publish their works in our international magazine.</li>
          </ul>
        </div>
      </div>
  
    </div>
    </div> 
  </div>
  
  <hr>
  
  <!-- ///no of candidates -->
  <div class="bg-light no-of-candidates">
    <div >
      <h3 class="text-center candidates-heading">Number of candidates trained on various skills in FY 20-21</h3>
    </div>
    <div class="candidates">
    <div class="text-center candidates-card" style="width: 25rem;">
      <h1 class="candidates-no number text-center">{{facultydev}}</h1> 
      <span class="candidates-type label">Faculty Development<br>Program</span>
    </div> 
  
    <div class="text-center candidates-card" style="width: 25rem;">
      <h1 class="candidates-no number text-center">{{fullstack}}</h1> <br>
      <span class="label candidates-type ">Fullstack<br>Development</span>
    </div>
  
    <div class="text-center candidates-card" style="width: 25rem;">
      <h1 class="candidates-no number text-center">{{salesforce}}</h1> <br>
      <span class="label candidates-type">Salesforce</span>
    </div>
  
    <div class="text-center candidates-card" style="width: 25rem;">
      <h1 class="candidates-no number text-center">{{microskills}}</h1> <br>
      <span class="label candidates-type">Micro skills</span>
    </div>
  
    <div class="text-center candidates-card" style="width: 25rem;">
      <h1 class="candidates-no number text-center">{{internship}}</h1> <br>
      <span class="label candidates-type">Virtual <br> Internship</span>
    </div>
  
    <div class="text-center candidates-card " style="width: 25rem;">
      <h1 class="candidates-no number text-center">{{otherprog}}</h1> <br>
      <span class="label candidates-type">Other Programs</span>
    </div>
  
  </div>
  </div>
  <br>
  <hr>
  <!-- no of candidates finished -->
  
  <!-- //commercial and validity period -->
  <div class="commercial">
    <div class="d-flex justify-content-center">
      <h1 class="commercial-heading text-center">Commercial and Validity Period</h1>
    </div>
    <div class="d-flex justify-content-center">
      <p class="col-md-6 text-justify text-center txtpara">ICT Academy of Kerala is forming a Premium membership programme with selected Engineering/ Science/ Management institutions in the state. The institutions will be selected based on a set of criteria, through an online application form from the interested colleges.
         The submission will be scrutinized by the ICTAK administration office and if required, will interact with the applying institutions for obtaining clarifications. Selected institutions will be provided with one year membership and will be provided with one year membership and will be supported by the ICTAK 
         on a set of activities that will help the students, teachers and institutions at large. <br>
       The membership will be free for selected institutions. </p>
    </div>
  </div>
  <br>
  <hr>
  
  
